@tailwind base;
@tailwind components;
@tailwind utilities;

.selected-answer{
  outline: 1px solid rgb(30, 30, 230);
  background-image: linear-gradient(to right,rgb(47, 47, 185),rgb(173, 173, 233), blue);

}
ul li{
  padding: 1rem;
  border-radius: 10px;
  font-weight: 500;
  cursor: pointer;
}

button:disabled{
  background: gray;
  cursor: no-drop;
}